{# Affichage des messages flash. Pour accéder aux messages, on utilise la variable 'app' 
    qui est une variable globale de Twig. 
    'app' est un objet.
    'app.flashes' est un array associatif, chaque valeur étant un array de string,  #}
{% for type, messages in app.flashes %}
    {% for texte in messages %}
        <div class="alert alert-{{ type }}">{{ texte|raw }}</div>
    {% endfor %}
{% endfor %}
