{% extends 'base.html.twig' %}

{% block title %}e-bliothèque{% endblock %}

{% block titre %}Bienvenue à l'e-'bliothèque{% endblock %}

{% block body %}
    <h2>{{ nb_total }} livres en rayons</h2>
    <div class="d-flex flex-wrap">
    {% for l in liste_livres %}
        {{ include("livre/card.html.twig", { livre: l }) }}
    {% endfor %}
    </div>

    {# 
      ! en utilisant la variable loop et l'opérateur modulo
    #}
    {# <div class="card-deck mt-1">
    {% for livre in liste_livres %}
        {% if loop.index % 3 == 1  %} <div class="d-flex mb-3"> {% endif %}
        {{ include ("livre/vignette.html.twig") }}
        {% if loop.index % 3 == 0  %} </div> {% endif %}
    {% endfor %}
    </div> #}



{% endblock %}

{% block nul %}
    Contenu du block 'nul'
{% endblock %}


    {# <div class="row row-cols-1 row-cols-md-4 g-4"> #}
